[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
filters = "*"
dj-database-url = "*"
gunicorn = "*"
setuptools = "*"
whitenoise = "*"
psycopg2 = "*"
django-heroku = "*"
django-tailwind = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
