{% load static %}{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!-- in our html head tag add the following  -->
      <link type="text/css" rel="stylesheet" href="{% static 'styles/main.css' %}" />
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous" />
      <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet" type="text/css">
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" type="text/css" rel="stylesheet"> 
      <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
      {% tailwind_css %}
      <script src="{% static 'scripts/main.js' %}" defer></script>
      <title>EventNav - {% block title %}{% endblock %}</title>
   </head>
   <body>
      {% comment %} <div class="bg-fixed ..." style="background-image: url(..)"></div> {% endcomment %}
      
      <nav class="Navbar">
         <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="">
               <span class="text-xl text-white font-bold tracking-wide px-3 py-2 items-start"> <a href="{% url 'home' %}">NiteLife</a></span>
               {% if user.is_authenticated %}
               <a href="{% url 'event_list' %}" class="lg:inline-flex lg:w-auto w-33% px-3 py-2 rounded" id="neon-nav">
                  <span>Events</span>
               </a>
               <a href="{% url 'profile' %}" class="lg:inline-flex lg:w-auto w-33% px-3 py-2 rounded" id="neon-nav">
                  <span>Profile</span>
               <a href="{% url 'logout' %}" class="lg:inline-flex lg:w-auto w-33% px-3 py-2 rounded float-right" id="neon-nav">
                  <span>Logout</span>
               </a>
               {% else %}
               <a href="{% url 'signup' %}" class="lg:inline-flex lg:w-auto w-33% rounded-full bg-gray-400 py-2 px-6 float-right" id="neon-nav">
                  <span>Join NiteLife</span>
               </a>
               <a href="{% url 'login' %}" class="lg:inline-flex lg:w-auto w-33 px-3 py-2 rounded float-right" id="neon-nav">
                  <span>Sign In</span>
               </a>
               {% endif %}
            </div>
         </div>
      </nav>
      <div>
         {% block content %}{% endblock %}
      </div>
      
   </body>
</html>
