{% extends 'base.html' %}
{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Events{% endblock  %}

{% block content %}
<div class='flex flex-row items-start'>
  <section class="w-1/3 mt-2 ml-10 border-2 rounded-xl p-4 space-y-4">
    <h3 class="text-left text-4xl ml-4 pt-2">Select Your City</h3>
    
    <form method="get">
      <div id="city-selection" class="flex flex-col ">
        <button class="bg-black bg-opacity-50 mt-2 p-2 rounded-3xl" id="neon-nav" name="location" value="" selected>
          <h3>All</h3>
        </button>
      {% for city in cities %}
        <button class="bg-black bg-opacity-50 mt-2 p-2 rounded-3xl" type="submit" id="neon-nav" name="location" value="{{ city }}">
          <h3 >{{ city }}</h3>
        </button>

      {% endfor %}

      </div>
    </form>
    <div>
  
  </section>

  <section class="flex flex-col border-2 rounded-xl mr-10 mt-2 w-2/3 p-4 ml-10 space-y-4">
          <!-- {% if header %}
          <h1 class="text-center text-4xl m-4">{{ header }}</h1>
          
          {% else %}
          <h1 class="text-center text-4xl m-4">All</h1> 
          {% endif %}
     -->
        
    <div class='flex flex-row justify-between items-center'>
      
      {% if header  %}
      <h1 class='text-left text-4xl ml-4'> All Parties in {{header}} </h1>
      {% else %}
      <h1 class='text-left text-4xl ml-4'> All Parties </h1>
      {% endif %}
      <a id="neon-button" class="py-2 px-4 text-4xl" href="/events/new">+</a>

    </div>

    <section>
      {% for event in events %}

        <a id="event-card-hover" class="flex flex-row m-4 rounded-xl" href="{% url "event_detail" event.pk %}">

          <figure class="w-1/4 ">
            <img class="w-full h-full object-center object-cover rounded-xl rounded-r-none rounded-b-none rounded-l-xl" src="{{event.image}}" alt="{{event.title}}" />
          </figure>
          <div class="w-3/4 bg-black bg-opacity-50  p-6 rounded-3xl rounded-r-xl rounded-b-xl rounded-l-none">

            <h3 class="text-xl text-red-400 ml-4">
              {{event.title}}
            </h3>
            <p class="w-3/4 text-base ml-4">
              {{event.bio}}
            </p>
          </div>
        </a>
      {% empty %}
      <article>
        <div>
          <p>No Events</p>
        </div>
      </article>
      {% endfor %}

    </section>
  </section>
</div>
{% endblock %}


