{% extends 'base.html' %} {% block content %} {% comment %} for head title tags
and helping us with SEO {% endcomment %}

<section>
    <div class="container mx-auto px-6">

        <div class="flex">
            <img src="{{profile.avatar.url}}" class="h-40 w-40 box-full object-cover rounded-lg" alt="username" />

            <div class="ml-10">
                <div class="flex items-center">
                    <h2 class="block leading-relaxed font-light text-blue-400 text-3xl">{{profile.user}}</h2>
                    <a class="cursor-pointer m-0 p-0 border-transparent text-gray-700 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
                        href="{% url 'profile_update' profile.pk %}">
                        <svg class="h-5 w-10" fill="none" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </a>
                </div>
                <!-- <li>
                        <span class="block text-base flex"><span class="font-bold mr-2">23 </span> Posts</span>
                    </li> -->
                <br>
                <div class="">
                    <p class="text-base">{{profile.first_name}} {{profile.last_name}}</p>
                    <p class="text-base">{{profile.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="border-b-2 my-10 divide-transparent border-opacity-20"></div>
<section class="mb-20">
    <div class="container mx-auto px-6">
        <div class="clearfix responsive">
            <article class="mt-5 grid grid-cols-3 gap-8 responsive">
                    {% for event in profile.creator.all %}
                    <div class="rounded-md overflow-hidden h-80">
                        <a class="post__card relative flex flex-col h-full" href="{% url 'event_detail' event.pk %}">
                            <img src="{{event.image}}" class="foto object-cover object-center w-full h-4/5" alt="{{event.title}}" />
                                <div class="text-base p-2 bg-gray-800 text-center w-full relative h-1/5 two flex justify-center items-center text-white hover:text-pink-500">
                                    <span class='w-full '>{{event.title}}</span>
                                    <span class="absolute bottom-0 left-1/2 w-0 transition-all h-1 bg-pink-500"></span>
                                    <span class="absolute bottom-0 right-1/2 w-0 transition-all h-1 bg-pink-500"></span>
                                </div>
                        </a>
                    </div>
                    {% endfor %}
                    <div id="create-post__card" class="rounded-md overflow-hidden text-white h-80 bg-gray-800 hover:bg-pink-500 transition-colors">
                        <a class="post__card relative flex flex-col w-full h-full flex justify-center items-center" href="{% url 'create_event' %}">
                            <h3>Create a Post +</h3>
                        </a>
                    </div>

            </article>
        </div>
</section>

{% endblock %}