* {
  color: rebeccapurple;

}
html,
body {
  font-family: "Rubik", sans-serif;
}

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

body {
    font-family: "Rubik", sans-serif;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
}
h1,
h2,
h3 {
  color: #ffffff;
}
  
.title {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

div.container > div > div > div.w-full.max-w-lg > div.leading-loose > form.max-w-sm.m-4.p-10.bg-opacity-25.rounded.shadow-xl {
  
}