/* :root {
  --clr-neon : hsl(317 100% 54%);
  --clr-bg : hsl(323 21% 16%);
} */

* {
  /* color: rgb(131, 70, 255); */

}
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
}

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

body {
    font-family: "Rubik", sans-serif;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
}
h1,
h2,
h3 {
  color: #ffffff;
}
  
.title {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}


#id_password {
 display: flex;
 border-radius: 3px;
}

#id_username {
 display: flex;
 border-radius: 3px;
}


div.w-full.max-w-lg > div.leading-loose > form.max-w-sm.m-4.p-10.bg-white.bg-opacity-25.rounded.shadow-xl > label {
  color:white;
}

#navigation {


}
div.lg\:inline-flex:nth-child(1) {
  /* font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: #ff009F 0.125em solid;
  color: #ff009F;
  border-radius: 0.25em;
  text-shadow: 0 0 0.5em #ff009F; */
}
#neon-nav {
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: #ff009F 0.125em solid;
  color: #ff009F;
  border-radius: 0.25em;
  text-shadow: 0 0 0.5em #ff009F;
  margin: .5em;

  position:relative;
  transition: background-color 100ms linear;
}

#neon-nav:hover{
  background-color:#ff009F;
  color: #121212;
  box-shadow: 0px 0px 5px 5px #ff009F;
  text-shadow:
    0 0 82px #ff009F,
  }
/* .top-navbar {
  color: #ff009F;
} */


div.px-10 > p {
  color: red;
}

/* #nav-right-orientation {
  float: right;
} */