{% extends 'base.html' %}
{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Events{% endblock  %}

{% block content %}
<div class='flex flex-row'>
  <section class="flex flex-col w-1/3 border-2 rounded-xl p-4 space-y-4">
    <h1>Select Your City</h1>
    
    <form method="get">
      <div class="flex flex-col">
        <button class="mt-2 p-6 rounded-xl bg-pink-300" name="location" value="" selected>
          All
        </button>
      {% for city in cities %}
        <button class="mt-2 p-6 rounded-xl bg-pink-300" type="submit" name="location" value="{{ city }}">
          {{ city }}
        </button>

      {% endfor %}

      </div>
    </form>
    <div>
  
  </section>

  <section class="flex flex-col border-2 rounded-xl w-2/3 p-4 ml-4 space-y-4">
    <div class="flex flex-row m-4 space-x-2">
          {% if header %}
          <h1>{{ header }}</h1>
          
          {% else %}
          <h1>All</h1>
          {% endif %}

          <div>
            <p class="text-right">City Image</p>
          </div>
        </div>
        
    <a class="" href="/events/new">+</a>
    <h1 class='text-left text-xl'>Parties</h1>

    {% for event in events %}
    <div>
      <span>
        <a href="{% url "event_detail" event.pk %}">
        <figure class="w-20 h-20">
          <img class="rounded-xl" src="{{event.image}}" alt="{{event.title}}" />
        </figure>

        <div>
          <label>
            {{event.title}}
          </label>
          <details>
            {{event.bio}}
          </details>

        </div>
      </span>
    </a>
    </div>

    {% empty %}
    <article>
      <div>
        <p>No Events</p>
      </div>
    </article>
    {% endfor %}
  </section>
</div>
{% endblock %}


