{% extends 'base.html' %}
{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Events{% endblock  %}

{% block content %}
<div class='flex flex-row'>
  <section class="flex flex-col w-1/3 border-2 rounded-xl p-4 space-y-4">
    <h1>Select Your City</h1>
    
    <form method="get">
      <ul>
        <li>
          <button class="p-6 bg-pink-400" name="location" value="" selected>
            All Events
          </button>
        </li>
        {% for city in cities %}

         <li>
          <button class="p-6 bg-pink-400" type="submit" name="location" value="{{ city }}">
            {{ city }}
          </button>
        </li>
        {% endfor %}
      </ul>
    </form>
    <div>
  
  </section>

  <section class="flex flex-col border-2 rounded-xl w-2/3 p-4 ml-4 space-y-4">
    <div class="flex flex-row m-4 space-x-2">
        <div>
          <h1>{{ header }}</h1>
          <a class="" href="/events/new">+</a>
        </div>
        <div>
            <p class="text-right">City Image</p>
        </div>
    </div>

    <h1 class='text-left text-xl'>Parties</h1>

    {% for event in events %}
    <div>
      <a href="{% url "event_detail" event.pk %}">
      <figure class="w-10 h-10">
        <img class="rounded-xl" src="{{event.image}}" alt="{{event.title}}" />
      </figure>
      <label>
        {{event.title}}
      </label>
      <details>
        {{event.bio}}
      </details>
    </a>
    </div>

    {% empty %}
    <article>
      <div>
        <p>No Events</p>
      </div>
    </article>
    {% endfor %}
  </section>
</div>
{% endblock %}


