{% extends 'base.html' %} {% block content %} {% comment %} for head title tags
and helping us with SEO {% endcomment %}




<!-- component -->

<div class="w-screen ">
    <div class="flex p-4 glass-header">
            <img src="{{profile.avatar.url}}"
                class="h-40 w-40 rounded-full object-cover"
                alt="username"/>
            <div class="ml-10">
                <div class="flex items-center">
                    <h2 class="block leading-relaxed font-light text-gray-700 text-3xl">{{profile.user}}</h2>
                    <a class="cursor-pointer ml-2 p-1 border-transparent text-gray-700 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
                    aria-label="Notifications" href="{% url 'profile_update' profile.pk %}">
                        <svg class="h-8 w-8" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </a>
                </div>
                    <!-- <li>
                        <span class="block text-base flex"><span class="font-bold mr-2">23 </span> Posts</span>
                    </li> -->
                <br>
                <div class="">
                    <span class="text-base">{{profile.bio}}</span>
                </div>
            </div>
    </div>
    <div class="border-b border-gray-300"></div>
 
    <div class="clearfix">
    <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
      <article class="mt-5 grid grid-cols-3 gap-6 ">
        {% for event in profile.creator.all %}
        <div class="relative w-full h-64 bg-cover bg-center group rounded-lg shadow-lg hover:shadow-2xl transition duration-300 ease-in-out" style="width:300px; height:300px">
          <a href="{% url "event_detail" event.pk %}">
          <img src="{{event.image}}"
          class="foto w-full h-full object-cover"
          alt="description" />
        </a>
        <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex">
            <h3 class="text-center">
                <a class="text-white text-2xl font-bold text-center" href="#">
                    <span class="absolute inset-0"></span>
                        {{event.tile}}
                    </a>
                </h3>
            </div>
        </div>
      {% endfor %}
    </article>
    </div>

<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
    <article>
        <section>
            <article class="relative w-full h-64 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
            style="background-image: url('https://images.unsplash.com/photo-1511376777868-611b54f68947?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');">

            </article>
        </section>
    </article>
</section>
    
{% endblock %}


