{% extends 'base.html' %} {% block content %}

{% comment %} <h1 class="title">Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" class="btn" value="Sign Up" />
  <input type="hidden" name="next" value="{{ next }}" />
</form> {% endcomment %}
<div class="h-screen font-sans login bg-cover">
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form
          class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl"
          method="post"
          action="{% url 'signup' %}"
        >
          <p class="banner text-white font-medium text-center text-lg font-bold">
            Let's Party!
          </p>

          <div class="px-10">
           
           {% csrf_token %} {{form.as_p}}
          
          </div>

          <div class=" mt-8 items-center flex justify-around px-10 mb-6">

            <input type="submit" name="signup" class="px-6 py-1 text-white font-light tracking-normal bg-gray-900 hover:bg-gray-800 rounded" value="Signup" />

            <input type="hidden" name="next" value="{{ next }}" />

          </div>
          <div class="text-center"></div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}